{% extends "base.html" %}

{% block pageheading %}Stundent submit{% endblock %}

{% block main %}
<form class="myform" method="POST">
    <div class="form-group">
        <div class="form-label">Title:</div>
        <div class="form-element"><input type="text" name="title" id="title" required maxlength="20"></div>
    </div>
    <div class="form-group">
        <div class="form-label">Details:</div>
        <div class="form-element"><input type="text" name="detail" id="detail" required maxlength="500"></div>
    </div>
    <div class="form-group">
        <div class="form-level"></div>
        <div class="form-element"><input type="submit" value="Submit Work"></div>
    </div>
</form>
{% endblock %}